<aside class="who-follow">
  <div class="follow-header">
    <p>WHO TO FOLLOW</p>
  </div>
  <div class="find-friends">
    <% current_user.follow_suggestions.each do |user| %>
      <div class="who-follow-profile">
          <%= link_to user_path(user), class: 'user' do %>
            <div class="picture">
              <% unless user[:Photo].nil? %>
                <%= image_tag user.Photo.thumb.url %>
              <% else %>
                <%= gravatar_for user, size: 50 %>
              <% end %>
            </div>
            <div class="profile-details">
              <h6><%= user.Fullname.titleize %></h6>
              <p>@<%= user.Username %></p>
            </div>
          <% end %> 
      </div>
    <% end %>
  </div>
</aside>