<div class="main-content mt-0 pt-0">
  <%= render 'shared/side_nav' %>
  <main>
    <%= render 'shared/navigation' %>
    <div class="main-body">
    <div class="tweets">
      <div class="tweet-form">
        <p class="compose-new">POST MOVIE REVIEW</p>
        <%= render 'shared/errors', obj: @opinion %>
        <%= form_for @opinion, url: new_opinion_path  do |f| %>
          <%= f.text_area :Text, class: "text-input", placeholder: "Compose new..." %>
          <%= f.submit "POST", class: "text-btn pull-right" %>
        <% end %>
      </div>
      <%= render 'opinions' %>
    </div>
    <%= render 'who_to_follow'%>
  </div> 
  </main>
</div>