<div class="main-content">
  <%= render 'shared/side_nav' %>
  <main>
    <%= render 'shared/navigation' %>
    <div class="main-body">
    <div class="tweets">
      <div class="tweet-form">
        <p class="compose-new">POST MOVIE REVIEW</p>
        <%= render 'shared/errors', obj: @opinion %>
        <%= form_for @opinion, url: new_opinion_path  do |f| %>
          <%= f.text_area :Text, class: "text-input", placeholder: "Compose new..." %>
          <%= f.submit "POST", class: "text-btn pull-right" %>
        <% end %>
      </div>
      <div class="tweet-body">
        <p class="tweet-body-header">NEW REVIEWS</p>
        <% @opinions.each do |opinion| %>
          <div class="tweet-avatar">
            <div class="picture">
              <% if opinion.Author[:Photo].nil? %>
                <%= gravatar_for opinion.Author, size: 50 %>
              <% else %>
                <%= image_tag opinion.Author.Photo.thumb.url %>
              <% end %>
            </div>
          </div>
          <div class="tweet-content">
          <p class="time"><%= time_ago_in_words(opinion.created_at) %></p> 
            <h6><%= opinion.Author.Fullname.titleize %></h6>
            <span><%= sanitize opinion.Text %></span>
              <span class="like">
                <% if opinion.likes.any? { |like| like.UserId == current_user.id }%>
                  <%= link_to unlike_path(opinion), method: :delete do %>
                    <i class="fas fa-heart text-danger"></i>
                  <% end %>
                <% else %>
                  <%= link_to like_path(opinion) do %>
                    <i class="fas fa-heart"></i>
                  <% end %>
                <% end %>
                <% if opinion.likes.any? %>
                  <p><%= "#{pluralize(opinion.likes.size, 'like')}" %></p>
                <% end %>
            </span>
          </div>
          <div class="clear"></div>
        <% end %>
      </div>
    </div>
    <aside class="who-follow">
      <div class="follow-header">
        <p>WHO TO FOLLOW</p>
      </div>
      <div class="find-friends">
        <% @users.each do |user| %>
          <div class="who-follow-profile">
              <%= link_to user_path(user), class: 'user' do %>
                <div class="picture">
                  <% unless user[:Photo].nil? %>
                    <%= image_tag user.Photo.thumb.url %>
                  <% else %>
                    <%= gravatar_for user, size: 50 %>
                  <% end %>
                </div>
                <div class="profile-details">
                  <h6><%= user.Fullname.titleize %></h6>
                  <p>@<%= user.Username %></p>
                </div>
              <% end %> 
          </div>
        <% end %>
      </div>
    </aside>
  </div> 
  </main>
</div>