<div class="main-content mt-0 pt-0">
  <%= render 'shared/side_nav' %>
  <main>
    <%= render 'shared/navigation' %>
    <div class="main-body">
    <div class="opinions">
      <div class="opinion-form">
        <p class="compose-new">POST MOVIE REVIEW</p>
        <%= render 'form' %>
      </div>
      <%= render 'opinions' %>
    </div>
    <%= render 'who_to_follow'%>
  </div> 
  </main>
</div>