<%= render 'shared/errors', obj: @user %>
<div class="text-center">
  <div class="twitter-logo">
      <i class="fab fa-twitter fa-3x"></i>
  </div>
  <h1 class="center-txt">Create Twitter Account</h1>
</div>
<div class="center-form">
<%= form_for (@user), :url => users_path, :html => {class: "signup-form"} do |f| %>
  <div class="form-label">
    <%= f.label :Username, class: "username-label" %>
  </div>
  <div class="form-input">
    <%= f.text_field :Username, class: "username-input", placeholder: "Enter Username" %>
  </div>
  <div class="form-label">
    <%= f.label :Fullname, class: "fullname-label" %>
  </div>
  <div class="form-input">
    <%= f.text_field :Fullname, class: "fullname-input", placeholder: "Enter Fullname" %>
  </div>
  <div class="form-actions">
    <%= f.submit "Sign Up",  class: "btn btn-primary signup-btn"%>    
  </div>
<% end %>
</div>
