<div class="side-nav">
  <div class="current-user">
    <div class="picture"><%= profile_pic %></div>
    <h6><%= current_user.Fullname.upcase %></h6>
  </div>
  
  <div class="side-links">
    <div class="home-link links active">
      <i class="fas fa-home"></i>
      <%= link_to 'HOME', root_path, class: "links-path active" %>
    </div>
    <div class="profile-link links">
      <i class="fas fa-user"></i>
      <%= link_to 'PROFILE', user_path(current_user.id), class: "links-path" %>
    </div>
    <div class="logout-link links">
      <i class="fas fa-power-off"></i>
      <%= link_to 'LOGOUT', logout_path, method: :delete, class: "links-path" %>
    </div>
  </div>
</div>